
[Cardinal]
name         = Example
version      = 0.1.4
version_type = Alpha
author       = Kemono_BAT_4
source       = https://github.com/KemonoBAT4/Cardinal
api          = 1

host         = 0.0.0.0
port         = 23104

[Cardinal Database]
NEW_URI = sqlite:///core/database/database.db

# change this to the database uri in the database file
SQLALCHEMY_DATABASE_URI = mysql+pymysql://root:root@localhost/CardinalExample
SQLALCHEMY_TRACK_MODIFICATIONS = False
