<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cardinal: Home</title>

        <link rel="stylesheet" href="./../styles/homepage.css">
    </head>
    <body>

        <div class="page">


            <div class="side-bar-container">
            </div>

            <div class="header-container">

            </div>

            <div class="page-container">

            </div>
        </div>

        <script src="./../scripts/homepage.js"></script>
    </body>
</html>